<!DOCTYPE html>
<html lang="vi">
<!-- /// search endlessly ngon ngu  trang web -->
  <head>
    <meta charset="utf-8">
    <title>this is my first html</title>
    <meta name="description" content="MILF, schoolgirl">
    <!-- // search tu khoa tren google -->
    <meta name="viewport" content="width:devide-width;initial-scale=1">
    <!-- /// chinh man hinh co bao nhieu -->
    <link rel="stylesheet" type="text/css" href="style.css">
  </head>
  <body>
    <h1>heading level 1 </h1>
    <h2>heading level 2 </h2>
    <h6>heading level 6 </h6>
    <p>Paragraph</p>
    <!-- attribute hyper reference -->
    <!-- <a href="http://codeforces.com"> Example.com</a> -->
    <a href="http://codeforces.com" target="_blank">Example.com</a>
    <!-- target _blank : open in newtab -->
    <!-- a : anchor -->
    <img src="https://mark.trademarkia.com/logo-images/dossodossi-tekstil-sanayi-turizm-ve-organizasyon-anonim-sirketi/ddfs-dosso-dossi-fashion-show-79116705.jpg">
    <!--  anh ne`-->
    <ul> <!-- ko theo thu tu -->
      <li class="firstli blurred-text"> list item 1 </li>
      <li id="secondli"> list item 2 </li>
      <li class="firstli"> list item 3 </li>
    </ul>
    <ol> <!-- theo thu tu -->
      <li> list 1 </li>
      <li> list 2 </li>
    </ol>
    <form action="/login" method="post">
      <input type="text" placeholder="Enter Username" name="username">
      <input type="password" placeholder="Enter password" name="password">
      <input type="email" placeholder="Enter email" name="email">
      Gender:
      <input type="radio" name="gender" value="0"> Male
      <input type="radio" name="gender" value="1"> Female
      <input type="checkbox" name="spam" value="1"> receive spammy email
      <input type="file" name="avatar">
      <input type="submit" name="submit"   value="login">
      <b>Bold</b> <!--html4-->
      <strong>Strong</strong>
      <i>Italic</i>
      <em>emphasis</em> <!--html4-->
      <div>Division</div>
      <section>
        Section
      </section>
      <article> <!--bai viet-->
        Article
      </article>
      <nav>
        navigation
      </nav>
      <aside >
        aside
      </aside>
      <header>
        header
      </header>
      <footer>Footer</footer>
      </div>

    </form>
    <footer>
      <p>Posted by: Pham Hoang Dung </p>
      <p>Contact information: <a href="https://www.facebook.com/dung.phamhoang.92">Facebook</a>.</p>
      <!-- <p>Contact information: <a href="https://www.facebook.com/dung.phamhoang.92"facebook></a>.</p> -->
    </footer>
  </body>
</html>
