<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <div class="">
      <span>Question: {{question}}</span>
    </div>
    <div class="">
        <span>YES: {{yes}}</span>
        <span>NO: {{no}}</span>
    </div>
  </body>
</html>
